@import "tailwindcss";

:root {
  --background: #000;
}


body {
  background: var(--background);
}

@utility hover-animation {
  @apply cursor-pointer opacity-75 hover:opacity-100 transition-opacity duration-100;
}
